openapi: 3.0.3
info:
  title: SDLC Orchestrator API
  version: 1.0.0
  description: |
    **SDLC Orchestrator** - Project governance tool enforcing SDLC Universal Framework.

    ## API Strategy (Hybrid)
    - **REST API**: Simple CRUD operations (gates, evidence, projects) - CLI/CI/CD friendly
    - **GraphQL API**: Complex queries (dashboards, reports) - Dashboard frontend

    ## Authentication
    - **JWT**: Access token (1 hour) + Refresh token (30 days)
    - **OAuth 2.0**: GitHub, Google, Microsoft (SSO)
    - **MFA**: TOTP mandatory for C-Suite (CEO, CTO, CPO, CIO, CFO)
    - **API Keys**: Service-to-service authentication (90-day rotation)

    ## Rate Limiting
    - **Free Tier**: 100 requests/hour
    - **Pro Tier**: 1,000 requests/hour
    - **Enterprise**: 10,000 requests/hour

    ## Versioning
    - **URL-based**: `/api/v1/...` (current), `/api/v2/...` (future)
    - **LTS Policy**: 18 months support after successor release
    - **Deprecation**: 90-day notice before removal

    ## Related Documents
    - [API-Specification.md](../../01-Planning-Analysis/04-API-Design/API-Specification.md)
    - [API-Authentication.md](../../01-Planning-Analysis/04-API-Design/API-Authentication.md)
    - [ADR-003-API-Strategy.md](../02-System-Architecture/Architecture-Decisions/ADR-003-API-Strategy.md)

  contact:
    name: SDLC Orchestrator Team
    email: api@sdlc-orchestrator.com
    url: https://docs.sdlc-orchestrator.com

  license:
    name: Proprietary
    url: https://sdlc-orchestrator.com/license

servers:
  - url: https://api.sdlc-orchestrator.com/v1
    description: Production
  - url: https://api.staging.sdlc-orchestrator.com/v1
    description: Staging
  - url: http://localhost:8000/v1
    description: Local Development

tags:
  - name: Authentication
    description: User authentication, OAuth 2.0, MFA, API keys
  - name: Organizations
    description: Organization management (multi-tenant)
  - name: Teams
    description: Team management
  - name: Users
    description: User management, profiles, permissions
  - name: Projects
    description: Project CRUD operations
  - name: Gates
    description: SDLC gates (G0.1, G0.2, G1-G9)
  - name: Gate Approvals
    description: Gate approval workflow
  - name: Evidence
    description: Evidence vault (file upload, metadata)
  - name: Policies
    description: Gate policies (YAML/JSON configuration)
  - name: Audit Logs
    description: Immutable audit trail
  - name: Webhooks
    description: Outbound webhooks (Slack, GitHub, Jira)

security:
  - BearerAuth: []
  - ApiKeyAuth: []

paths:
  # ============================================================
  # AUTHENTICATION
  # ============================================================

  /auth/login:
    post:
      tags: [Authentication]
      summary: Login user (email + password)
      description: |
        Authenticate user with email and password.
        Returns JWT access token (1 hour) and refresh token (30 days).

        If MFA enabled, returns `mfa_required: true` and requires `/auth/mfa/verify`.
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                  example: john.doe@techcorp.com
                password:
                  type: string
                  format: password
                  example: SuperSecret123!
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/AuthTokens'
                  - $ref: '#/components/schemas/MFARequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /auth/mfa/verify:
    post:
      tags: [Authentication]
      summary: Verify MFA code (TOTP)
      description: Verify TOTP code after login (if MFA enabled).
      operationId: verifyMFA
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, code]
              properties:
                user_id:
                  type: string
                  format: uuid
                  example: 550e8400-e29b-41d4-a716-446655440000
                code:
                  type: string
                  pattern: '^\d{6}$'
                  example: '123456'
      responses:
        '200':
          description: MFA verified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokens'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/refresh:
    post:
      tags: [Authentication]
      summary: Refresh access token
      description: Exchange refresh token for new access token (1 hour).
      operationId: refreshToken
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token:
                  type: string
                  example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
      responses:
        '200':
          description: Token refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokens'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/oauth/{provider}:
    get:
      tags: [Authentication]
      summary: OAuth 2.0 login (GitHub, Google, Microsoft)
      description: Redirect user to OAuth provider authorization page.
      operationId: oauthLogin
      security: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            enum: [github, google, microsoft]
          example: github
      responses:
        '302':
          description: Redirect to OAuth provider
          headers:
            Location:
              schema:
                type: string
                example: https://github.com/login/oauth/authorize?client_id=...

  /auth/oauth/{provider}/callback:
    get:
      tags: [Authentication]
      summary: OAuth 2.0 callback
      description: Receive OAuth code, exchange for tokens, create/update user.
      operationId: oauthCallback
      security: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            enum: [github, google, microsoft]
        - name: code
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OAuth login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokens'

  /auth/logout:
    post:
      tags: [Authentication]
      summary: Logout user (revoke refresh token)
      operationId: logout
      responses:
        '200':
          description: Logged out successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Logged out successfully

  # ============================================================
  # ORGANIZATIONS
  # ============================================================

  /organizations:
    get:
      tags: [Organizations]
      summary: List organizations (admin only)
      operationId: listOrganizations
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of organizations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organization'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [Organizations]
      summary: Create organization (admin only)
      operationId: createOrganization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationCreate'
      responses:
        '201':
          description: Organization created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'

  /organizations/{org_id}:
    get:
      tags: [Organizations]
      summary: Get organization details
      operationId: getOrganization
      parameters:
        - $ref: '#/components/parameters/OrgIdParam'
      responses:
        '200':
          description: Organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Organizations]
      summary: Update organization (admin only)
      operationId: updateOrganization
      parameters:
        - $ref: '#/components/parameters/OrgIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationUpdate'
      responses:
        '200':
          description: Organization updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'

  # ============================================================
  # TEAMS
  # ============================================================

  /teams:
    get:
      tags: [Teams]
      summary: List teams (in user's organization)
      operationId: listTeams
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of teams
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Team'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [Teams]
      summary: Create team
      operationId: createTeam
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamCreate'
      responses:
        '201':
          description: Team created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'

  /teams/{team_id}:
    get:
      tags: [Teams]
      summary: Get team details
      operationId: getTeam
      parameters:
        - $ref: '#/components/parameters/TeamIdParam'
      responses:
        '200':
          description: Team details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'

    patch:
      tags: [Teams]
      summary: Update team
      operationId: updateTeam
      parameters:
        - $ref: '#/components/parameters/TeamIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamUpdate'
      responses:
        '200':
          description: Team updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'

  # ============================================================
  # PROJECTS
  # ============================================================

  /projects:
    get:
      tags: [Projects]
      summary: List projects
      description: List all projects visible to current user (team member or org admin).
      operationId: listProjects
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [planning, active, paused, completed, archived]
        - name: team_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of projects
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [Projects]
      summary: Create project
      operationId: createProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectCreate'
      responses:
        '201':
          description: Project created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'

  /projects/{project_id}:
    get:
      tags: [Projects]
      summary: Get project details
      operationId: getProject
      parameters:
        - $ref: '#/components/parameters/ProjectIdParam'
      responses:
        '200':
          description: Project details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'

    patch:
      tags: [Projects]
      summary: Update project
      operationId: updateProject
      parameters:
        - $ref: '#/components/parameters/ProjectIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectUpdate'
      responses:
        '200':
          description: Project updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'

    delete:
      tags: [Projects]
      summary: Delete project (soft delete)
      operationId: deleteProject
      parameters:
        - $ref: '#/components/parameters/ProjectIdParam'
      responses:
        '204':
          description: Project deleted

  # ============================================================
  # GATES
  # ============================================================

  /projects/{project_id}/gates:
    get:
      tags: [Gates]
      summary: List gates for project
      operationId: listGates
      parameters:
        - $ref: '#/components/parameters/ProjectIdParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [PENDING, PASS, FAIL, WAIVED, BLOCKED]
      responses:
        '200':
          description: List of gates
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Gate'

  /gates/{gate_id}:
    get:
      tags: [Gates]
      summary: Get gate details
      operationId: getGate
      parameters:
        - $ref: '#/components/parameters/GateIdParam'
      responses:
        '200':
          description: Gate details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gate'

  /gates/{gate_id}/approve:
    post:
      tags: [Gate Approvals]
      summary: Approve gate
      description: |
        Approve gate (requires Engineering Manager+ role).

        Gate passes when:
        - Required approvals met (default: 2+)
        - All policy checks PASS
        - No blocking evidence
      operationId: approveGate
      parameters:
        - $ref: '#/components/parameters/GateIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  type: string
                  maxLength: 5000
                  example: AGPL containment strategy looks good
      responses:
        '200':
          description: Gate approved
          content:
            application/json:
              schema:
                type: object
                properties:
                  approval:
                    $ref: '#/components/schemas/GateApproval'
                  gate_status:
                    $ref: '#/components/schemas/GateStatus'
        '403':
          $ref: '#/components/responses/Forbidden'

  /gates/{gate_id}/reject:
    post:
      tags: [Gate Approvals]
      summary: Reject gate
      operationId: rejectGate
      parameters:
        - $ref: '#/components/parameters/GateIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [comment]
              properties:
                comment:
                  type: string
                  maxLength: 5000
                  example: Legal review incomplete (AGPL containment missing)
      responses:
        '200':
          description: Gate rejected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GateApproval'

  /gates/{gate_id}/waive:
    post:
      tags: [Gate Approvals]
      summary: Waive gate (emergency bypass, CTO/CEO only)
      description: |
        Emergency waiver (CTO/CEO only).

        Requires:
        - Waiver reason (mandatory)
        - Expiry date (max 21 days)
        - Post-incident review (within 7 days)
      operationId: waiveGate
      parameters:
        - $ref: '#/components/parameters/GateIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason, expires_at]
              properties:
                reason:
                  type: string
                  maxLength: 5000
                  example: Emergency production fix (customer P0 incident)
                expires_at:
                  type: string
                  format: date-time
                  example: '2025-12-04T00:00:00Z'
      responses:
        '200':
          description: Gate waived
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gate'

  # ============================================================
  # EVIDENCE
  # ============================================================

  /evidence:
    get:
      tags: [Evidence]
      summary: List evidence files
      operationId: listEvidence
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: project_id
          in: query
          schema:
            type: string
            format: uuid
        - name: type
          in: query
          schema:
            type: string
            enum: [document, screenshot, test_report, sbom, legal_review]
        - name: search
          in: query
          description: Semantic search query (AI-powered via pgvector)
          schema:
            type: string
            example: AGPL license review
      responses:
        '200':
          description: List of evidence
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Evidence'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [Evidence]
      summary: Upload evidence file
      description: |
        Upload evidence file (max 100MB).

        File stored in MinIO (S3-compatible).
        SHA-256 hash computed for integrity verification.
      operationId: uploadEvidence
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file, project_id, title]
              properties:
                file:
                  type: string
                  format: binary
                project_id:
                  type: string
                  format: uuid
                title:
                  type: string
                  maxLength: 500
                description:
                  type: string
                  maxLength: 5000
                type:
                  type: string
                  enum: [document, screenshot, test_report, sbom, legal_review]
                metadata:
                  type: object
                  description: Custom metadata (JSON)
      responses:
        '201':
          description: Evidence uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Evidence'
        '400':
          $ref: '#/components/responses/BadRequest'
        '413':
          description: File too large (max 100MB)

  /evidence/{evidence_id}:
    get:
      tags: [Evidence]
      summary: Get evidence metadata
      operationId: getEvidence
      parameters:
        - $ref: '#/components/parameters/EvidenceIdParam'
      responses:
        '200':
          description: Evidence metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Evidence'

    delete:
      tags: [Evidence]
      summary: Delete evidence (soft delete)
      operationId: deleteEvidence
      parameters:
        - $ref: '#/components/parameters/EvidenceIdParam'
      responses:
        '204':
          description: Evidence deleted

  /evidence/{evidence_id}/download:
    get:
      tags: [Evidence]
      summary: Download evidence file
      description: |
        Download evidence file from MinIO.

        Integrity verification:
        - Compare SHA-256 hash with stored hash
        - Reject if mismatch (tampering detected)
      operationId: downloadEvidence
      parameters:
        - $ref: '#/components/parameters/EvidenceIdParam'
      responses:
        '200':
          description: Evidence file
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              schema:
                type: string
                example: attachment; filename="legal-review-report.pdf"
            X-File-Hash-SHA256:
              schema:
                type: string
                example: 5d41402abc4b2a76b9719d911017c592

  /evidence/{evidence_id}/link:
    post:
      tags: [Evidence]
      summary: Link evidence to gate
      operationId: linkEvidence
      parameters:
        - $ref: '#/components/parameters/EvidenceIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [gate_id]
              properties:
                gate_id:
                  type: string
                  format: uuid
                link_type:
                  type: string
                  enum: [supports, blocks, related]
                  default: supports
                comment:
                  type: string
                  maxLength: 5000
      responses:
        '201':
          description: Evidence linked to gate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvidenceLink'

  # ============================================================
  # AUDIT LOGS
  # ============================================================

  /audit-logs:
    get:
      tags: [Audit Logs]
      summary: List audit logs (admin only)
      description: |
        Immutable audit trail (append-only).

        7-year retention (SOC 2, ISO 27001 compliance).
      operationId: listAuditLogs
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: user_id
          in: query
          schema:
            type: string
            format: uuid
        - name: action
          in: query
          schema:
            type: string
            enum: [gate_approved, gate_rejected, evidence_uploaded, project_created]
        - name: start_date
          in: query
          schema:
            type: string
            format: date-time
        - name: end_date
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: List of audit logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditLog'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  # ============================================================
  # WEBHOOKS
  # ============================================================

  /webhooks:
    get:
      tags: [Webhooks]
      summary: List webhooks
      operationId: listWebhooks
      responses:
        '200':
          description: List of webhooks
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Webhook'

    post:
      tags: [Webhooks]
      summary: Create webhook
      operationId: createWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreate'
      responses:
        '201':
          description: Webhook created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'

  /webhooks/{webhook_id}:
    delete:
      tags: [Webhooks]
      summary: Delete webhook
      operationId: deleteWebhook
      parameters:
        - name: webhook_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Webhook deleted

# ============================================================
# COMPONENTS
# ============================================================

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT access token (1 hour expiry).

        Example:
        ```
        Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        ```

    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        API key for service-to-service authentication.

        90-day rotation policy.

        Example:
        ```
        X-API-Key: sdlc_live_abc123...
        ```

  parameters:
    OrgIdParam:
      name: org_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      example: 8a4f9500-e29b-41d4-a716-446655440002

    TeamIdParam:
      name: team_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      example: 7f3e8400-e29b-41d4-a716-446655440001

    ProjectIdParam:
      name: project_id
      in: path
      required: true
      description: Project UUID
      schema:
        type: string
        format: uuid
      example: 550e8400-e29b-41d4-a716-446655440003

    GateIdParam:
      name: gate_id
      in: path
      required: true
      description: Gate UUID
      schema:
        type: string
        format: uuid
      example: 550e8400-e29b-41d4-a716-446655440004

    EvidenceIdParam:
      name: evidence_id
      in: path
      required: true
      description: Evidence UUID
      schema:
        type: string
        format: uuid
      example: 550e8400-e29b-41d4-a716-446655440005

    PageParam:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
      example: 1

    LimitParam:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      example: 20

  schemas:
    # ============================================================
    # AUTHENTICATION
    # ============================================================

    AuthTokens:
      type: object
      required: [access_token, refresh_token, token_type, expires_in]
      properties:
        access_token:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        refresh_token:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        token_type:
          type: string
          enum: [Bearer]
          example: Bearer
        expires_in:
          type: integer
          description: Access token expiry (seconds)
          example: 3600

    MFARequired:
      type: object
      required: [mfa_required, user_id]
      properties:
        mfa_required:
          type: boolean
          example: true
        user_id:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000

    # ============================================================
    # ORGANIZATION
    # ============================================================

    Organization:
      type: object
      required: [id, name, slug, tier, created_at]
      properties:
        id:
          type: string
          format: uuid
          example: 8a4f9500-e29b-41d4-a716-446655440002
        name:
          type: string
          example: TechCorp
        slug:
          type: string
          example: techcorp
        tier:
          type: string
          enum: [lite, standard, enterprise]
          example: standard
        settings:
          type: object
          example: {logo_url: 'https://...', custom_gates: false}
        created_at:
          type: string
          format: date-time
          example: '2025-01-01T00:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2025-11-13T00:00:00Z'

    OrganizationCreate:
      type: object
      required: [name, slug, tier]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        slug:
          type: string
          pattern: '^[a-z0-9-]+$'
          minLength: 3
          maxLength: 100
        tier:
          type: string
          enum: [lite, standard, enterprise]
        settings:
          type: object

    OrganizationUpdate:
      type: object
      properties:
        name:
          type: string
        tier:
          type: string
          enum: [lite, standard, enterprise]
        settings:
          type: object

    # ============================================================
    # TEAM
    # ============================================================

    Team:
      type: object
      required: [id, name, slug, organization_id, created_at]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: Backend Team
        slug:
          type: string
          example: backend-team
        organization_id:
          type: string
          format: uuid
        description:
          type: string
        settings:
          type: object
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    TeamCreate:
      type: object
      required: [name, slug]
      properties:
        name:
          type: string
        slug:
          type: string
          pattern: '^[a-z0-9-]+$'
        description:
          type: string

    TeamUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string

    # ============================================================
    # PROJECT
    # ============================================================

    Project:
      type: object
      required: [id, name, slug, status, team_id, created_at]
      properties:
        id:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440003
        name:
          type: string
          example: SDLC Orchestrator
        slug:
          type: string
          example: sdlc-orchestrator
        description:
          type: string
        status:
          type: string
          enum: [planning, active, paused, completed, archived]
          example: active
        team_id:
          type: string
          format: uuid
        github_repo:
          type: string
          example: github.com/techcorp/sdlc-orchestrator
        jira_project_key:
          type: string
          example: SDLC
        metadata:
          type: object
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ProjectCreate:
      type: object
      required: [name, slug, team_id]
      properties:
        name:
          type: string
        slug:
          type: string
          pattern: '^[a-z0-9-]+$'
        description:
          type: string
        team_id:
          type: string
          format: uuid
        github_repo:
          type: string
        jira_project_key:
          type: string

    ProjectUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [planning, active, paused, completed, archived]
        metadata:
          type: object

    # ============================================================
    # GATE
    # ============================================================

    Gate:
      type: object
      required: [id, gate_id, name, project_id, status, required_approvals, created_at]
      properties:
        id:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440004
        gate_id:
          type: string
          example: G1
          description: Gate identifier (G0.1, G0.2, G1-G9)
        name:
          type: string
          example: Legal + Market Validation
        description:
          type: string
        project_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [PENDING, PASS, FAIL, WAIVED, BLOCKED]
          example: PENDING
        required_approvals:
          type: integer
          minimum: 1
          example: 2
        waiver_reason:
          type: string
        waiver_expires_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    GateApproval:
      type: object
      required: [id, gate_id, user_id, status, created_at]
      properties:
        id:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440006
        gate_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [approved, rejected]
          example: approved
        comment:
          type: string
        created_at:
          type: string
          format: date-time

    GateStatus:
      type: object
      required: [gate_id, status, approvals_count, required_approvals]
      properties:
        gate_id:
          type: string
          example: G1
        status:
          type: string
          enum: [PENDING, PASS, FAIL, WAIVED, BLOCKED]
          example: PASS
        approvals_count:
          type: integer
          example: 2
        required_approvals:
          type: integer
          example: 2

    # ============================================================
    # EVIDENCE
    # ============================================================

    Evidence:
      type: object
      required: [id, title, type, file_path, file_size_bytes, file_hash_sha256, project_id, uploaded_by, created_at]
      properties:
        id:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440005
        title:
          type: string
          example: Legal Review Report (AGPL Containment)
        description:
          type: string
        type:
          type: string
          enum: [document, screenshot, test_report, sbom, legal_review]
          example: legal_review
        file_path:
          type: string
          example: s3://sdlc-evidence/org_123/proj_456/evid_789
        file_size_bytes:
          type: integer
          example: 1048576
        file_hash_sha256:
          type: string
          example: 5d41402abc4b2a76b9719d911017c592
        mime_type:
          type: string
          example: application/pdf
        project_id:
          type: string
          format: uuid
        uploaded_by:
          type: string
          format: uuid
        metadata:
          type: object
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    EvidenceLink:
      type: object
      required: [id, evidence_id, gate_id, link_type, created_at]
      properties:
        id:
          type: string
          format: uuid
        evidence_id:
          type: string
          format: uuid
        gate_id:
          type: string
          format: uuid
        link_type:
          type: string
          enum: [supports, blocks, related]
          example: supports
        comment:
          type: string
        created_at:
          type: string
          format: date-time

    # ============================================================
    # AUDIT LOG
    # ============================================================

    AuditLog:
      type: object
      required: [id, event_id, timestamp, action, resource_type, resource_id]
      properties:
        id:
          type: string
          format: uuid
        event_id:
          type: string
          example: evt_789
        timestamp:
          type: string
          format: date-time
        user_id:
          type: string
          format: uuid
        user_email:
          type: string
        action:
          type: string
          example: gate_approved
        resource_type:
          type: string
          example: gate
        resource_id:
          type: string
          format: uuid
        metadata:
          type: object
        signature:
          type: string
          description: HMAC-SHA256 signature (non-repudiation)

    # ============================================================
    # WEBHOOK
    # ============================================================

    Webhook:
      type: object
      required: [id, name, url, events, enabled, created_at]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: Slack Notifications
        url:
          type: string
          format: uri
          example: https://hooks.slack.com/services/...
        events:
          type: array
          items:
            type: string
          example: [gate.approved, evidence.uploaded]
        secret:
          type: string
          description: HMAC secret (for signature verification)
        enabled:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    WebhookCreate:
      type: object
      required: [name, url, events]
      properties:
        name:
          type: string
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
        secret:
          type: string

    # ============================================================
    # PAGINATION
    # ============================================================

    Pagination:
      type: object
      required: [page, limit, total, pages]
      properties:
        page:
          type: integer
          example: 1
        limit:
          type: integer
          example: 20
        total:
          type: integer
          example: 150
        pages:
          type: integer
          example: 8

    # ============================================================
    # ERROR
    # ============================================================

    Error:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
          example: validation_error
        message:
          type: string
          example: Invalid request parameters
        details:
          type: object

  responses:
    BadRequest:
      description: Bad request (validation error)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: validation_error
            message: Invalid request parameters
            details:
              email: Invalid email format

    Unauthorized:
      description: Unauthorized (invalid/expired token)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: unauthorized
            message: Invalid or expired access token

    Forbidden:
      description: Forbidden (insufficient permissions)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: forbidden
            message: You do not have permission to approve this gate

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: not_found
            message: Gate not found

    RateLimited:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: rate_limit_exceeded
            message: 'Too many requests (limit: 100/hour)'
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
            example: 100
        X-RateLimit-Remaining:
          schema:
            type: integer
            example: 0
        X-RateLimit-Reset:
          schema:
            type: integer
            example: 1699900800
